Header {
    height: 1;
    dock: top;
}

Footer {
    height: 1;
    dock: bottom;
}

Screen {
    layout: grid;
    grid-size: 2;
    grid-columns: 1fr 4fr;
    background: #4c566a;
}

ChatColumn {
    height: 100%;
    margin: 0 0 0 0;
    border: solid #eceff4;
    text-style: bold;
}

UserColumn {
    height: 100%;
    border: solid #eceff4;
    text-style: bold;
}

ChatMessage {
    height: auto;
    width: 1fr;
    margin: 1 1;
    border: #eceff4;
    border-title-align: left;
    border-title-style: bold;
    border-title-color: #eceff4;
    color: #2e3440;
}

UserLabel {
    height: auto;
    width: 1fr;
    margin: 1 1;
    color: #eceff4;
    content-align: center middle;
    border: #eceff4;
    text-style: bold;
}

.chat_header {
    border: solid gray;
    background: #eceff4;
}