Header {
    height: 1;
    dock: top;
}

Footer {
    height: 1;
    dock: bottom;
}

Input {
    background: #4c566a;
    color: #eceff4;
    border: #eceff4;
    width: 100%;
    height: auto;
    min-height: 10;
    content-align: center middle;
    text-align: center;
}

Input:focus {
    border: #88c0d0;
}

Input>.input--cursor {
    background: #4c566a;
    color: #eceff4;
    text-style: reverse;
}

Widget {
    scrollbar-background: #3b4252;
    scrollbar-background-hover: #3b4252;
    scrollbar-background-active: #3b4252;
    
    scrollbar-color: #eceff4;
    scrollbar-color-active: #d8dee9;
    scrollbar-color-hover: #eceff4;
    scrollbar-corner-color: #eceff4;
}

Screen {
    layout: grid;
    grid-size: 2;
    grid-columns: 1fr 4fr;
    grid-rows: 7fr 1fr;
    background: #4c566a;
}

ChatColumn {
    height: 100%;
    border: solid #eceff4;
    text-style: bold;
}

UserColumn {
    height: 100%;
    border: solid #eceff4;
    text-style: bold;
    row-span: 2;
}

ChatMessage {
    height: auto;
    width: 1fr;
    margin: 1 1;
    /* border: #eceff4; */
    border-title-align: left;
    border-title-style: bold;
    border-title-color: #eceff4;
    color: #2e3440;
}

UserLabel {
    height: auto;
    width: 1fr;
    margin: 1 1;
    color: #eceff4;
    content-align: center middle;
    text-align: center;
    /* border: #eceff4; */
    text-style: bold;
}

.user_chat_label {
    text-style: bold;
}

.chat_message_container {
    height: auto;
}

.chat_header {
    border: solid gray;
    background: #eceff4;
}
